# Node.js
node_modules/
npm-debug.log

# Electron
# Ignore Electron's cache directory
# See https://electronjs.org/docs/latest/tutorial/installation#custom-mirrors-and-caches
.electron

# Build directories
dist/
out/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# vscode
.vscode/
.windsurf/